---
export const prerender = false;

import ShopPageWrapper from "../../components/shop/ShopPageWrapper";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
if (!id) return Astro.redirect("/");
---

<Layout title="Shopping List">
  <main class="min-h-screen bg-background">
    <ShopPageWrapper client:load shopId={id} />
  </main>
</Layout>
