---
import AddRecipeForm from "../components/add-recipe/AddRecipeForm";
import Layout from "../layouts/Layout.astro";
import { getAllIngredients } from "../lib/database";

const availableIngredients = await getAllIngredients();
---

<Layout title="Add Recipe | Meal Guru">
    <main class="container mx-auto px-4 py-8">
        <AddRecipeForm client:load ingredients={availableIngredients} />
    </main>
</Layout>
