---
export const prerender = false;

import HomePageWrapper from "../components/home/HomePageWrapper";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main class="min-h-screen bg-background flex items-center justify-center">
    <HomePageWrapper client:load />
  </main>
</Layout>
