---
export const prerender = false;

import App from "@/components/app/App";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content="#CF6A43" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <title>Meal Guru</title>
    <script is:inline src="/registerSW.js"></script>
  </head>
  <body>
    <App client:only="react" />
  </body>
</html>

<style is:global>
  @import "@fontsource-variable/geist";
</style>
<style is:global>
  @import "../../styles/global.css";
</style>
